header{
    color: #c4c2c7;
    background-color: rgba(80, 7, 7, 0.897);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-shadow: 4px 4px 8px rgba(0, 0, 1, 3)
}

th{
    border: 1px solid black;
    width: 45%;
}

img {
    width: 200px; /* Cambia el ancho de la imagen */
    height: auto; /* Mantén la proporción de aspecto original */
    margin: 10px; /* Agrega un margen de 10 píxeles alrededor de la imagen */
    border: 0px solid #000; /* Agrega un borde negro de 1 píxel alrededor de la imagen */
    position: absolute; /* Cambia la posición a absoluta */
    top: 45px; /*  Cambia la posición superior a 100 píxeles desde la parte superior */
    left: 1400px; /* Cambia la posición izquierda a 50 píxeles desde la izquierda */
    /*animation: giroUnaVez 5s ease-in-out infinite;  2 segundos de duración, repetir infinitamente */
    
}

body{
    /*background-color: rgb(170, 174, 179);*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('/img/fondo2.JPG'); /* Ruta relativa o URL directa */
    background-size: cover;

}

section{
    width: 100%;
}

input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.mi-boton {
    width: 150px; /* Cambia el ancho a 150 píxeles */
    height: 40px; /* Cambia el alto a 40 píxeles */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #dcd9e6;
    align-items: center;
    background-color: rgba(80, 7, 7, 0.897);
}
.mi-submit {
    width: 150px; /* Cambia el ancho a 150 píxeles */
    height: 40px; /* Cambia el alto a 40 píxeles */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #dcd9e6;
    background-color: rgba(80, 7, 7, 0.897);
}

h1{
    color: #dcd9e6;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
h2{
    color: #ffffff;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h3{
    color: #08070a;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h4{
    text-align: center;
}

h5{
    color: #08070a;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

select {
    padding: 5px;
    font-size: 16px;
    border: 2px solid #020205;
    border-radius: 20px;
    width: 715px;
}
option {
    background-color: #f5f5f5;
    font-size: 16px;
}
select option:checked {
    background-color: #007BFF;
    color: #fff;
}
label {
    font-size: 16px;
    font-weight: bold;
    color: #0e0d0d;
}
.mi-div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #0e0d0d;
}

form {
    margin: 0 auto; /* Centramos el formulario */
    width: 50%;   /* Sin ancho no podemos centrar el formulario */
    background-color: rgb(170, 174, 179); /* Color blanco para el formulario */
    padding: 2px; /* separamos los bordes del form del resto de elementos */
    border-radius: 10px; /* Redondeamos los bordes del form */
 }

.parent {
    display: grid;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: center;

}

.item {
    display: grid;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 2px;
    background-color: white;
    border-radius: 10px;
}

.flexbox {
    align-items: center;
    display: grid;
    height: 100px;
    justify-content: center;
    width: 100%;
    background: #bbbabec7;
}

.container {
    margin: 0 auto; /* Centramos el formulario */
    width: 50%;   /* Sin ancho no podemos centrar el formulario */
    background-color: rgb(170, 174, 179); /* Color blanco para el formulario */
    padding: 2px; /* separamos los bordes del form del resto de elementos */
    border-radius: 10px; /* Redondeamos los bordes del form */
}